
<div class="flex w-full px-[16.6%] h-24 items-center border-b-[1px] border-b-gray-300">
  <div class="flex gap-12 mr-10 items-center">
    <div class="flex flex-col items-center relative">
      <i class="pi pi-bars font-extrabold"></i>
      <div class="absolute top-5">Menu</div>
    </div>
    <span class="text-[20px]">Immo Scout24</span>
  </div>

  <div class="flex gap-5 mr-[308px] justify-center">
    <div class="font-extrabold text-[15px]">Für Suchende</div>
    <div class="font-extrabold text-[15px]">Für Eigentümer:innen</div>
  </div>

  <div class="mr-32">
    <input type="text" [(ngModel)]="value" class="p-inputtext w-[150px] h-8 !text-black !font-extrabold !text-[14px]" />
  </div>

  <div class="flex gap-5 font-extrabold">
    <i class="pi pi-user"></i>
    <span>Anmelden</span>
  </div>

</div>

<div class="flex flex-col items-center justify-center h-fit">
  <div class="text-[56px] font-extrabold flex items-center h-[100px]">Anbieten. Suchen. Finden</div>
  <p-tabView class="costum-tab">
    <p-tabPanel header="Immobilien">
      <div class="flex flex-row gap-2">
        <div>
          <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true" placeholder="Select a Country" class="country">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'fi fi-' + selectedCountry.code.toLowerCase()" style="width: 18px"/>
                    <div>{{ selectedCountry.name }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'fi fi-' + country.code.toLowerCase()" style="width: 18px"/>
                    <div>{{ country.name }}</div>
                </div>
            </ng-template>
          </p-dropdown>
          <input type="text" class="p-inputtext !rounded-none" placeholder="Ort, Stadt, Adresse, PLZ, Scount-ID" />
          <p-dropdown [options]="mietens" [(ngModel)]="selectedMietens" optionLabel="name" [showClear]="true" class="miet"></p-dropdown>
          <p-dropdown [options]="Wohnung" [(ngModel)]="selectedWohnung" optionLabel="name" [showClear]="true" class="woh"></p-dropdown>
        </div>


        <div>
          <p-button label="Sunchen"></p-button>
        </div>
      </div>


    </p-tabPanel>
    <p-tabPanel header="Preisatlas">
      <div class="flex flex-row gap-2">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="dutch" />
          </span>
        </div>


        <div>
          <p-button label="Sunchen"></p-button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Bewertung">
      <div class="flex flex-row gap-2">
        <div>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="PLZ deiner Immobilie" />
          </span>
        </div>
        <div>
          <p-button label="Sunchen"></p-button>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
